#container{
    display: grid;
    grid-template-areas: 
        'search-container chat-title chat-title chat-title'
        'search-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-container chat-container chat-container'
        'conversation-container chat-input chat-input chat-input'
        'conversation-container chat-input chat-input chat-input';
    height: 100vh;
    width: 100%;
    padding: 0;
}